@font-face {
  font-family: "FiraGo-Regular";
  src: url("./font/FiraGO-Regular.otf");
}

body {
  margin: 0;
  font-family: FiraGo;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: FiraGo;
}
